[diff]
	tool = vimdiff
[difftool "vimdiff"]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "vimdiff"]
	tool = vimdiff
[mergetool]
	prompt = false
